<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.dao.mapper.cust.AddressMapper" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhzx.dao.bean.cust.Address" >
				<result column="id" property="id"/>
				<result column="cust_no" property="custNo"/>
				<result column="address" property="address"/>
				<result column="detail_address" property="detailAddress"/>
				<result column="receiver_name" property="receiverName"/>
				<result column="receiver_phone" property="receiverPhone"/>
				<result column="post_code" property="postCode"/>
				<result column="is_default" property="isDefault"/>
				<result column="create_time" property="createTime"/>
				<result column="update_time" property="updateTime"/>
				<result column="status" property="status"/>
			</resultMap>

	<!-- c_address table all fields -->
	<sql id="Base_Column_List" >
		id,cust_no,address,detail_address,receiver_name,receiver_phone,post_code,is_default,create_time,update_time,status
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
												<if test="id != null and id != ''" >
				and id =  #{id}
			</if>
												<if test="custNo != null and custNo != ''" >
				and cust_no =  #{custNo}
			</if>
												<if test="address != null and address != ''" >
				and address =  #{address}
			</if>
												<if test="detailAddress != null and detailAddress != ''" >
				and detail_address =  #{detailAddress}
			</if>
												<if test="receiverName != null and receiverName != ''" >
				and receiver_name =  #{receiverName}
			</if>
												<if test="receiverPhone != null and receiverPhone != ''" >
				and receiver_phone =  #{receiverPhone}
			</if>
												<if test="postCode != null and postCode != ''" >
				and post_code =  #{postCode}
			</if>
												<if test="isDefault != null and isDefault != ''" >
				and is_default =  #{isDefault}
			</if>
												<if test="createTime != null and createTime != ''" >
				and create_time =  #{createTime}
			</if>
												<if test="updateTime != null and updateTime != ''" >
				and update_time =  #{updateTime}
			</if>
												<if test="status != null and status != ''" >
				and status =  #{status}
			</if>
					</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.zhzx.dao.bean.cust.Address" >
		insert into c_address(id,cust_no,address,detail_address,receiver_name,receiver_phone,post_code,is_default,create_time,update_time,status)
 values(#{id,jdbcType=VARCHAR},#{custNo,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{detailAddress,jdbcType=VARCHAR},#{receiverName,jdbcType=VARCHAR},#{receiverPhone,jdbcType=VARCHAR},#{postCode,jdbcType=VARCHAR},#{isDefault,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="com.zhzx.dao.bean.cust.Address" >
		update c_address set cust_no=#{custNo,jdbcType=VARCHAR},address=#{address,jdbcType=VARCHAR},detail_address=#{detailAddress,jdbcType=VARCHAR},receiver_name=#{receiverName,jdbcType=VARCHAR},receiver_phone=#{receiverPhone,jdbcType=VARCHAR},post_code=#{postCode,jdbcType=VARCHAR},is_default=#{isDefault,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=VARCHAR},update_time=#{updateTime,jdbcType=VARCHAR},status=#{status,jdbcType=VARCHAR} where id=#{id}
	</update>

	<!--  -->
	<update id="updateBySelective" parameterType="com.zhzx.dao.bean.cust.Address" >
		update c_address set 
	<trim  suffixOverrides="," >
	<if test="custNo != null  and custNo != '' ">
		cust_no=#{custNo},
	</if>
	<if test="address != null  and address != '' ">
		address=#{address},
	</if>
	<if test="detailAddress != null  and detailAddress != '' ">
		detail_address=#{detailAddress},
	</if>
	<if test="receiverName != null  and receiverName != '' ">
		receiver_name=#{receiverName},
	</if>
	<if test="receiverPhone != null  and receiverPhone != '' ">
		receiver_phone=#{receiverPhone},
	</if>
	<if test="postCode != null  and postCode != '' ">
		post_code=#{postCode},
	</if>
	<if test="isDefault != null  and isDefault != '' ">
		is_default=#{isDefault},
	</if>
	<if test="createTime != null  and createTime != '' ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  and updateTime != '' ">
		update_time=#{updateTime},
	</if>
	<if test="status != null  and status != '' ">
		status=#{status},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="com.zhzx.dao.bean.cust.Address">
		delete 	 from c_address where id = #{id}
	</update>

	<!-- 地址信息列表 -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> 
	 from c_address where id = #{id}
	</select>

	<!-- 地址信息 列表总数-->
	<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.zhzx.dao.model.cust.AddressModel">
		select count(1) from c_address
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
	</select>

	<!-- 根据id查询地址信息 -->
	<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.cust.AddressModel">
		select
		<include refid="Base_Column_List"/>
		from c_address
		<include refid="Example_Where_Clause"/>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
	</select>


	<!-- 地址信息 列表总数-->
	<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
		select count(1) from c_address
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 根据id查询地址信息 -->
	<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from c_address
		<include refid="Example_Where_Clause"/>
		<if test="queryCondition != null and queryCondition != ''" >
			${queryCondition}
		</if>
		<if test="orderCondition != null and queryCondition != ''" >
			order by ${orderCondition}
		</if>
	</select>

	<!-- 分页查询地址信息-->
	<select id="selectByModelAsPage" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.cust.AddressModel">
		select
		<include refid="Base_Column_List"/>
		from c_address
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
		${navigate.mysqlQueryCondition}
	</select>


</mapper>   
