<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.dao.mapper.common.BdictionaryMapper" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhzx.dao.bean.common.Bdictionary" >
				<result column="id" property="id"/>
				<result column="keyno" property="keyno"/>
				<result column="value" property="value"/>
				<result column="caption" property="caption"/>
				<result column="described" property="described"/>
			</resultMap>

	<!-- bdictionary table all fields -->
	<sql id="Base_Column_List" >
		id,keyno,value,caption,described
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
												<if test="id != null and id != ''" >
				and id =  #{id}
			</if>
												<if test="keyno != null and keyno != ''" >
				and keyno =  #{keyno}
			</if>
												<if test="value != null and value != ''" >
				and value =  #{value}
			</if>
												<if test="caption != null and caption != ''" >
				and caption =  #{caption}
			</if>
												<if test="described != null and described != ''" >
				and described =  #{described}
			</if>
					</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.zhzx.dao.bean.common.Bdictionary" >
		insert into bdictionary(id,keyno,value,caption,described)
 values(#{id,jdbcType=VARCHAR},#{keyno,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},#{caption,jdbcType=VARCHAR},#{described,jdbcType=VARCHAR})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="com.zhzx.dao.bean.common.Bdictionary" >
		update bdictionary set keyno=#{keyno,jdbcType=VARCHAR},value=#{value,jdbcType=VARCHAR},caption=#{caption,jdbcType=VARCHAR},described=#{described,jdbcType=VARCHAR} where id=#{id}
	</update>

	<!--  -->
	<update id="updateBySelective" parameterType="com.zhzx.dao.bean.common.Bdictionary" >
		update bdictionary set
	<trim  suffixOverrides="," >
	<if test="keyno != null  and keyno != '' ">
		keyno=#{keyno},
	</if>
	<if test="value != null  and value != '' ">
		value=#{value},
	</if>
	<if test="caption != null  and caption != '' ">
		caption=#{caption},
	</if>
	<if test="described != null  and described != '' ">
		described=#{described},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="com.zhzx.dao.bean.common.Bdictionary">
		delete 	 from bdictionary where id = #{id}
	</update>

	<!-- 字典信息列表 -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
	 from bdictionary where id = #{id}
	</select>

	<!-- 字典信息 列表总数-->
	<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.zhzx.dao.model.common.BdictionaryModel">
		select count(1) from bdictionary
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
	</select>

	<!-- 根据id查询字典信息 -->
	<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.common.BdictionaryModel">
		select
		<include refid="Base_Column_List"/>
		from bdictionary
		<include refid="Example_Where_Clause"/>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
	</select>


	<!-- 字典信息 列表总数-->
	<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
		select count(1) from bdictionary
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 根据id查询字典信息 -->
	<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from bdictionary
		<include refid="Example_Where_Clause"/>
		<if test="queryCondition != null and queryCondition != ''" >
			${queryCondition}
		</if>
		<if test="orderCondition != null and queryCondition != ''" >
			order by ${orderCondition}
		</if>
	</select>

	<!-- 分页查询字典信息-->
	<select id="selectByModelAsPage" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.common.BdictionaryModel">
		select
		<include refid="Base_Column_List"/>
		from bdictionary
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
		${navigate.mysqlQueryCondition}
	</select>


</mapper>
