<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.dao.mapper.cust.CustInfoMapper" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhzx.dao.bean.cust.CustInfo" >
				<result column="id" property="id"/>
				<result column="phone" property="phone"/>
				<result column="name" property="name"/>
				<result column="password" property="password"/>
				<result column="face_url" property="faceUrl"/>
				<result column="nick_name" property="nickName"/>
				<result column="id_card" property="idCard"/>
				<result column="id_card_type" property="idCardType"/>
				<result column="email" property="email"/>
				<result column="address" property="address"/>
				<result column="qq_no" property="qqNo"/>
				<result column="wechat_no" property="wechatNo"/>
				<result column="update_time" property="updateTime"/>
				<result column="is_delete" property="isDelete"/>
				<result column="lasted_login_time" property="lastedLoginTime"/>
			</resultMap>

	<!-- c_cust_info table all fields -->
	<sql id="Base_Column_List" >
		id,phone,name,password,face_url,nick_name,id_card,id_card_type,email,address,qq_no,wechat_no,update_time,is_delete,lasted_login_time
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
												<if test="id != null and id != ''" >
				and id =  #{id}
			</if>
												<if test="phone != null and phone != ''" >
				and phone =  #{phone}
			</if>
												<if test="name != null and name != ''" >
				and name =  #{name}
			</if>
												<if test="password != null and password != ''" >
				and password =  #{password}
			</if>
												<if test="faceUrl != null and faceUrl != ''" >
				and face_url =  #{faceUrl}
			</if>
												<if test="nickName != null and nickName != ''" >
				and nick_name =  #{nickName}
			</if>
												<if test="idCard != null and idCard != ''" >
				and id_card =  #{idCard}
			</if>
												<if test="idCardType != null and idCardType != ''" >
				and id_card_type =  #{idCardType}
			</if>
												<if test="email != null and email != ''" >
				and email =  #{email}
			</if>
												<if test="address != null and address != ''" >
				and address =  #{address}
			</if>
												<if test="qqNo != null and qqNo != ''" >
				and qq_no =  #{qqNo}
			</if>
												<if test="wechatNo != null and wechatNo != ''" >
				and wechat_no =  #{wechatNo}
			</if>
												<if test="updateTime != null and updateTime != ''" >
				and update_time =  #{updateTime}
			</if>
												<if test="isDelete != null and isDelete != ''" >
				and is_delete =  #{isDelete}
			</if>
												<if test="lastedLoginTime != null and lastedLoginTime != ''" >
				and lasted_login_time =  #{lastedLoginTime}
			</if>
					</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.zhzx.dao.bean.cust.CustInfo" >
		insert into c_cust_info(id,phone,name,password,face_url,nick_name,id_card,id_card_type,email,address,qq_no,wechat_no,update_time,is_delete,lasted_login_time)
 values(#{id,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{faceUrl,jdbcType=VARCHAR},#{nickName,jdbcType=VARCHAR},#{idCard,jdbcType=VARCHAR},#{idCardType,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{qqNo,jdbcType=VARCHAR},#{wechatNo,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},#{isDelete,jdbcType=VARCHAR},#{lastedLoginTime,jdbcType=VARCHAR})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="com.zhzx.dao.bean.cust.CustInfo" >
		update c_cust_info set phone=#{phone,jdbcType=VARCHAR},name=#{name,jdbcType=VARCHAR},password=#{password,jdbcType=VARCHAR},face_url=#{faceUrl,jdbcType=VARCHAR},nick_name=#{nickName,jdbcType=VARCHAR},id_card=#{idCard,jdbcType=VARCHAR},id_card_type=#{idCardType,jdbcType=VARCHAR},email=#{email,jdbcType=VARCHAR},address=#{address,jdbcType=VARCHAR},qq_no=#{qqNo,jdbcType=VARCHAR},wechat_no=#{wechatNo,jdbcType=VARCHAR},update_time=#{updateTime,jdbcType=VARCHAR},is_delete=#{isDelete,jdbcType=VARCHAR},lasted_login_time=#{lastedLoginTime,jdbcType=VARCHAR} where id=#{id}
	</update>

	<!--  -->
	<update id="updateBySelective" parameterType="com.zhzx.dao.bean.cust.CustInfo" >
		update c_cust_info set 
	<trim  suffixOverrides="," >
	<if test="phone != null  and phone != '' ">
		phone=#{phone},
	</if>
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="password != null  and password != '' ">
		password=#{password},
	</if>
	<if test="faceUrl != null  and faceUrl != '' ">
		face_url=#{faceUrl},
	</if>
	<if test="nickName != null  and nickName != '' ">
		nick_name=#{nickName},
	</if>
	<if test="idCard != null  and idCard != '' ">
		id_card=#{idCard},
	</if>
	<if test="idCardType != null  and idCardType != '' ">
		id_card_type=#{idCardType},
	</if>
	<if test="email != null  and email != '' ">
		email=#{email},
	</if>
	<if test="address != null  and address != '' ">
		address=#{address},
	</if>
	<if test="qqNo != null  and qqNo != '' ">
		qq_no=#{qqNo},
	</if>
	<if test="wechatNo != null  and wechatNo != '' ">
		wechat_no=#{wechatNo},
	</if>
	<if test="updateTime != null  and updateTime != '' ">
		update_time=#{updateTime},
	</if>
	<if test="isDelete != null  and isDelete != '' ">
		is_delete=#{isDelete},
	</if>
	<if test="lastedLoginTime != null  and lastedLoginTime != '' ">
		lasted_login_time=#{lastedLoginTime},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="com.zhzx.dao.bean.cust.CustInfo">
		delete 	 from c_cust_info where id = #{id}
	</update>

	<!-- 客户信息列表 -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> 
	 from c_cust_info where id = #{id}
	</select>

	<!-- 客户信息 列表总数-->
	<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.zhzx.dao.model.cust.CustInfoModel">
		select count(1) from c_cust_info
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
	</select>

	<!-- 根据id查询客户信息 -->
	<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.cust.CustInfoModel">
		select
		<include refid="Base_Column_List"/>
		from c_cust_info
		<include refid="Example_Where_Clause"/>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
	</select>


	<!-- 客户信息 列表总数-->
	<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
		select count(1) from c_cust_info
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 根据id查询客户信息 -->
	<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from c_cust_info
		<include refid="Example_Where_Clause"/>
		<if test="queryCondition != null and queryCondition != ''" >
			${queryCondition}
		</if>
		<if test="orderCondition != null and queryCondition != ''" >
			order by ${orderCondition}
		</if>
	</select>

</mapper>   
