<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.dao.mapper.prod.ProdPlanDetailMapper" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.zhzx.dao.bean.prod.ProdPlanDetail" >
				<result column="id" property="id"/>
				<result column="plan_no" property="planNo"/>
				<result column="prod_no" property="prodNo"/>
				<result column="order_no" property="orderNo"/>
				<result column="create_time" property="createTime"/>
			</resultMap>

	<!-- p_product_plan_detail table all fields -->
	<sql id="Base_Column_List" >
		id,plan_no,prod_no,order_no,create_time
	</sql>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
												<if test="id != null and id != ''" >
				and id =  #{id}
			</if>
												<if test="planNo != null and planNo != ''" >
				and plan_no =  #{planNo}
			</if>
												<if test="prodNo != null and prodNo != ''" >
				and prod_no =  #{prodNo}
			</if>
												<if test="orderNo != null and orderNo != ''" >
				and order_no =  #{orderNo}
			</if>
												<if test="createTime != null and createTime != ''" >
				and create_time =  #{createTime}
			</if>
					</trim>
	</sql>


	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.zhzx.dao.bean.prod.ProdPlanDetail" >
		insert into p_product_plan_detail(id,plan_no,prod_no,order_no,create_time)
 values(#{id,jdbcType=VARCHAR},#{planNo,jdbcType=VARCHAR},#{prodNo,jdbcType=VARCHAR},#{orderNo,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR})
	</insert>

	<!-- 根据id，修改记录-->
	<update id="update" parameterType="com.zhzx.dao.bean.prod.ProdPlanDetail" >
		update p_product_plan_detail set plan_no=#{planNo,jdbcType=VARCHAR},prod_no=#{prodNo,jdbcType=VARCHAR},order_no=#{orderNo,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=VARCHAR} where id=#{id}
	</update>

	<!--  -->
	<update id="updateBySelective" parameterType="com.zhzx.dao.bean.prod.ProdPlanDetail" >
		update p_product_plan_detail set 
	<trim  suffixOverrides="," >
	<if test="planNo != null  and planNo != '' ">
		plan_no=#{planNo},
	</if>
	<if test="prodNo != null  and prodNo != '' ">
		prod_no=#{prodNo},
	</if>
	<if test="orderNo != null  and orderNo != '' ">
		order_no=#{orderNo},
	</if>
	<if test="createTime != null  and createTime != '' ">
		create_time=#{createTime},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 逻辑删除，将deleted 改成 1 -->
	<update id="delete" parameterType="com.zhzx.dao.bean.prod.ProdPlanDetail">
		delete 	 from p_product_plan_detail where id = #{id}
	</update>

	<!-- 营销活动明细列表 -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> 
	 from p_product_plan_detail where id = #{id}
	</select>

	<!-- 营销活动明细 列表总数-->
	<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="com.zhzx.dao.model.prod.ProdPlanDetailModel">
		select count(1) from p_product_plan_detail
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
	</select>

	<!-- 根据id查询营销活动明细 -->
	<select id="selectByModel" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.prod.ProdPlanDetailModel">
		select
		<include refid="Base_Column_List"/>
		from p_product_plan_detail
		<include refid="Example_Where_Clause"/>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
	</select>


	<!-- 营销活动明细 列表总数-->
	<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
		select count(1) from p_product_plan_detail
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 根据id查询营销活动明细 -->
	<select id="selectByMap" resultMap="BaseResultMap"  parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		from p_product_plan_detail
		<include refid="Example_Where_Clause"/>
		<if test="queryCondition != null and queryCondition != ''" >
			${queryCondition}
		</if>
		<if test="orderCondition != null and queryCondition != ''" >
			order by ${orderCondition}
		</if>
	</select>

	<!-- 分页查询营销活动明细-->
	<select id="selectByModelAsPage" resultMap="BaseResultMap"  parameterType="com.zhzx.dao.model.prod.ProdPlanDetailModel">
		select
		<include refid="Base_Column_List"/>
		from p_product_plan_detail
		<include refid="Example_Where_Clause"/>
		<if test="navigate.otherCondition != null and navigate.otherCondition != ''" >
			${navigate.otherCondition}
		</if>
		<if test="navigate.orderCondition != null and navigate.orderCondition != ''" >
			${navigate.orderCondition}
		</if>
		${navigate.mysqlQueryCondition}
	</select>


</mapper>   
